gitignore
2	**/.idea
3	**/*.iml
4	**/*.*~
5	**/*.jar
6	**/*.class
7	**/*.log
8	**/target/
9	
10	# Package Files #
11	*.jar
12	*.war
13	*.ear
14	
15	# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
16	hs_err_pid*
